<!DOCTYPE html>

<html>

<head>
    <title>About Michaela</title>
    <link rel="icon" href="/img/LOGO!.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <img class="portrait" src="/img/Michaela.jpg">
    </div>

    {{>footer}}
</body>

</html>